<h1>Assessment 1: Group Thinking</h1>


<div class="row">
  <div class="twelve columns">
    <h2>This assessment will test the candidates ability to voice a well constructed opinion and share it in a group situation.</h2><br/><br/>
    <p class="download"><a class="small blue nice button src-download" href="#">Assessor:</a><%= @assessor.first_name %></p>
    <br/><br/>
    <p class="download"><a class="small blue nice button src-download" href="#">Student:</a><%= @student.first_name %> <%= @student.last_name %></p>

<table>
  <thead>
    <tr>
      <th width="150">Title</th>
      <th width="150">Year Released</th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @assessment %></td>
        <td><%= link_to movie.year_released, movie_path(movie.id) %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
      </tr>
  </tbody>
</table>






    <table class="responsive">
      <tbody>
        <tr>
          <th>Capability</th>
          <th>1</th>
          <th>2</th>
          <th>3</th>
          <th>4</th>
          <th>5</th>
        </tr>
        <tr>
          <td>The student can communicate effectively with others.</td>
          <td><label for="radio1"><input name="radio1" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio1"><input name="radio1" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio1"><input name="radio1" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio1"><input name="radio1" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio1"><input name="radio1" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
        </tr>
        <tr>
          <td>The student can voice their own opinions.</td>
          <td><label for="radio2"><input name="radio2" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio2"><input name="radio2" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio2"><input name="radio2" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio2"><input name="radio2" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio2"><input name="radio2" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>

        </tr>
        <tr>
          <td>The student lets other speak in the group.</td>
          <td><label for="radio3"><input name="radio3" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio3"><input name="radio3" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio3"><input name="radio3" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio3"><input name="radio3" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio3"><input name="radio3" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
        </tr>
        <tr>
          <td>The student is willing to change their view on new information.</td>
          <td><label for="radio4"><input name="radio4" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio4"><input name="radio4" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio4"><input name="radio4" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio4"><input name="radio4" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
          <td><label for="radio4"><input name="radio4" type="radio" id="radio1" class="hidden-field"><span class="custom radio"></span></label></td>
        </tr>
      </tbody>
    </table>
    <p class="download"><a class="small blue nice button src-download" href="#">Submit Test</a></p>
  </div>
</div>
