<div class="container top-bar home-border">
    <div class="attached">
      <div class="name" onclick="void(0);">
        <%= link_to "GradTest", root_path %>
      </div>

      <ul class="right">
        <li>
          <%= link_to "My Students", root_path %>
        </li>
        <li>
          <%= link_to "My Tests", root_path %>
        </li>
        <li>
          <%= link_to "My Observations", root_path %>
        </li>
        <li>
          <%= link_to "Sign Out", root_path %>
        </li>
        <li class="download"><a class="small blue nice button src-download" href="#">Submit Test</a></li>
      </ul>
    </div>
  </div>




